:root {
    --main-color: #000000;
}

@font-face {
    font-family: 'ART';
    src: url(./assets/fonts/bunch/doctor\ punk.otf) format('TrueType');
}

@font-face {
    font-family: 'typewriter';
    src: url(./assets/fonts/bunch/Bohemian\ Typewriter.ttf) format('TrueType');
}

@font-face {
    font-family: 'hide';
    src: url(./assets/fonts/bunch/Starz\ 2.ttf) format('TrueType');
}

.main-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: start;
    overflow-x: hidden;
}

.main-screen:has(.saved-cards-list) {
    display: grid;
    row-gap: 20px;
}

.decks-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.card-deck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    max-width: fit-content;
}

button {
    cursor: pointer;
}

.card-deck p {
    font-family: 'typewriter', monospace;
}

.card-title {
    width: 130px;
    height: 40px;
    max-height: max-content;
    position: absolute;
    left: 80px;
    text-align: center;
    margin: 20px;
    bottom: 0px;
    background-color: white;
    border-radius: 5px;
    padding-top: 5px;
}

.card-stack {
    position: relative;
    width: 260px;
    height: 275px;
}

.card {
    position: absolute;
    width: 150px;
    height: 225px;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(93, 93, 93, 0.647);
    border-radius: 10px;
    object-fit: contain;
    transition: 0.2s;
}

.last-card:hover, .last-card:hover > p {
    transform: translateX(5px);
}

/* .last-card:active {
    animation: 0.4s flip ease-in-out;
} */

@keyframes flip {
    0% { transform: scaleX(1); }
    50% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}

.deck-title {
    font-family: 'typewriter', monospace;
    font-size: x-large;
    width: 150px;
    text-align: center;
    padding-left: 60px;
}

.app-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-challenge {
    margin: 0 20px;
    font-family: 'typewriter', monospace;
    background-size: cover;
    cursor: pointer;
}

.header-challenge:hover {
    text-decoration: underline 10px wavy #ffffb1;
}

.app-title {
    font-family: 'ART', sans-serif;
    cursor: crosshair;
}

.app-title span {
    display: inline-block;
}

.app-title span:hover {
    animation: 0.5s flip ease-in-out;
    animation-fill-mode: backwards;
}

.mode-header {
    font-family:  'typewriter', monospace;
    font-style: italic;
    text-align: center;
}

.decks-selection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: fit-content;
    background-color: var(--main-color);
    gap: 15px;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
}

.deck-option {
    width: 150px;
    height: 150px;
    font-size: large;
    border: 1px solid #ffffff96;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'typewriter', monospace, sans-serif;
    background-color: var(--main-color);
}

.deck-option:hover, .deck-option:active {
    box-shadow: inset 5px 7px 5px rgb(89 118 162 / 53%);
    background-color: white;
}

.option-selected {
    background-color: white;
}

.full-title {
    display: none;
    font-family: 'typewriter';
}

.first-l-title {
    font-family: 'hide';
    font-size: 98pt;
    color: aliceblue;
}

.deck-option:hover .first-l-title {
    display: none;
}

.deck-option:hover .full-title {
    display: inline;
    font-family: 'typewriter';
}

.decks-two {
    display: flex;
    flex-direction: row;
}

.button-done-wrapper {
    height: 150px;
    width: 150px;
    border-radius: 30px;
    margin: 10px;
    background-color: var(--main-color);
    padding: 20px;
    transition: 0.2s;
}

.button-done-wrapper:hover {
    transform: translateX(20px);
}
.button-big {
    background: transparent;
    height: 150px;
    width: 150px;
    background-size: cover;
    border: 1px solid white;
    border-radius: 50%;
}

.button-small {
    height: 50px;
    width: 50px;
    background-size: contain;
    border: 1px solid white;
    border-radius: 50%;
    margin: 5px;
    background-color: var(--main-color);
}

.button-done {
    background-image: url(./media/arrow-right.png);
}

.button-saved-wrapper {
    border-radius: 30px;
    margin: 10px;
    background-color: #eceef3;
    padding: 20px;
    width: 150px;
    height: 300px;
    transition: 0.2s;
}

.button-saved-wrapper:hover {
    background-color: #222223;
}

.button-saved-wrapper:hover button {
    color:#eceef3;
}

.button-saved {
    background-color: transparent;
    width: 150px;
    height: 300px;
    border: 2px ridge silver;
    font-family: 'typewriter', monospace;
    border-radius: 15px;
}

.menu-buttons {
    position: absolute;
    top: 0px;
    left: 0px;
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    margin: 10px;
    background-color: var(--main-color);
    padding: 15px;
    display: inline-block;
    z-index: 10;
}

.button-back {
    background-image: url(./media/arrow-left.png);
}

.button-reload {
    background-image: url(./media/restart.png);
}

.button-save {
    background-image: url(./media/save.png);
}

.button-erase {
    background-image: url(./media/erase.png);
}

@media screen and (max-width: 725px) {
    .decks-two {
        flex-direction: column;
    }

    .decks-selection {
        grid-template-columns: repeat(2, 1fr);
        max-width: fit-content;
        background-color: var(--main-color);
        gap: 15px;
        padding: 20px;
        border-radius: 30px;
        margin: 10px;
    }
}

.saved-cards-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}

.saved-record {
    margin-top: 50px; 
}

.date-saved {

}

.button-micro {
    padding: 2px;
    width: 20px;
    height: 20px;
    border: none;
    margin: 0px 10px;
    display: inline;
    background: transparent;
    background-size: cover;
}

.button-small.close {
    background-image: url(./media/close.png);
    position: absolute;
    top: 5px;
    right: 5px;
}

.button-theme-button {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: white;
    background-image: url(./media/color-palette.png);
    transition: 0.3s;
}

.button-theme-button:hover {
    transform: rotate(360deg);
}

.delete-record { background-image: url(./media/erase-black.png); background-size: cover;}

.message {
    position: absolute;
    display: block;
    width: 20%;
    margin: 0px auto;
    top: 10px;
    left: 250px;
    height: 50px;
    padding: 20px;
    border-radius: 30px;
    font-family: 'typewriter', monospace;
    font-size: medium;
    z-index: 9;
}

.message.good {background-color: #bbfeb7;}
.message.bad {background-color: #ffceda;}
.message.warning {background-color: #ffffb1;}
.message.notification {background-color: #b7f5ff;}

.fadeout { animation: 0.5s fade-out forwards; }
.fadein { animation: 0.5s fade-in forwards; }

@keyframes fade-out {
    0% {transform: translateX(0); opacity: 1;}
    100% {transform: translateX(-150%); opacity: 0;}
}

@keyframes fade-in {
    0% {transform: translateX(-150%); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}

.theme-selection-window {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    padding: 20px 30px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 5px #3c3c3c92;
}

.theme-selection-window h2 {
    font-family: 'typewriter', monospace;;
}

.theme-color-option-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
    width: fit-content;
    border-radius: 30px;
    overflow:hidden;
}

.theme-color-option {
    width: 50px;
    height: 50px;
    outline: 1px solid white;
    border-radius: 10px;
}